*{
    margin: 0px;
    padding: 0px;
}

img{
    width: 160px;
}

.page{
    width: 100vw;
    height: 100vh;
    overflow: auto;
    overflow-x: hidden;
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: 2fr 1fr 4fr 1fr;
    grid-template-areas: "header header" "form menu" "body menu" "footer menu";
}

.page .headerContent{
    background-color: #808080;
    grid-area: header;
    
}

.page .menuContent{
    background-color: #c8c8c8;
    grid-area: menu;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;

}

.page .formSearch{
    background-color: #c8b7b7;
    grid-area: form;
}

.page .bodyContent{
    background-color: #fff;
    grid-area: body;
}

.page .footerContent{
    background-color: #4b4b4b;
    grid-area: footer;
}
.btn{
    width: 100px;
    height: 200px;
    border-radius: 50%;
    position:fixed;
    right:11px;
}